<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('/My Documents/TestNodejs/src/views/partials/head') %>
</head>

<body>
        <div class="content p-5">
            <div>
                <h2>UPDATE</h2>
            </div>
            <div>
                <form method="POST" action="/blog/<%= blog._id %>?_method=PUT">
                    <div class="mb-3">
                        <label class="form-label">Tiêu đề</label>
                        <input type="" name="title" class="form-control" value="<%= blog.title %>">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Phụ đề</label>
                        <input  class="form-control" name="description" value="<%= blog.description %>">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Nội dung</label>
                        <textarea  class="form-control" name="content"><%= blog.content %></textarea> 
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <a href="/blog/<%= blog._id %> " class="btn btn-secondary">Trở lại</a>
                </form>
            </div>
        </div>


        <%- include('/My Documents/TestNodejs/src/views/partials/script') %>
</body>

</html>